.weather {
  position: relative;
}
.weather_temp {
  position: absolute;
  top: 11px;
  left: 20px;
  
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: white
}
.weather_image {
  width: 100%;
}
