.sidebar__info{
  display: flex;
}

.sidebar__image{
  display: flex;
  align-items: center;
  gap: 16px;
  
  
}

.sidebar__name {
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  color: black

}